<header class="col-md-12 text-center well pageHeader">
      <h1>Dev News</h1>
    </header>

    <div class="container ">
      <div class="row col-md-12">

          <div class="col-md-8" id="articlesDiv">
              <h3>Web Development Articles</h3>
              <div id="articles"></div>
          </div>
          <div class="col-md-4 text-center" id="notesDiv">
              <h3>Article Notes</h3>
              <h4>Click a title to leave a note about the article</h4>
              <div id="notes"></div>
          </div>
      </div>
    </div>